<% extend('../main') %> 

<div class="container-fluid main-content">
  <div class="row content">
    <!-- <div class="col-sm-3 leftside">  </div> -->
      <%- include('leftside'); %>
    
    
    <div class="col-sm-3 rightside"><%- include('rightside'); %> </div>
  </div>
</div>
