<% extend('../main') %> 

<div class="container-fluid main-content">
  <div class="row content">
    <div class="col-sm-2"></div>
    <div class="col-sm-9">
      <div class="row no-margin admin-box-search">
        
        <div class="col-sm-7 no-padding">
          <input type="text" class="form-control modal-title-row admin-search-text-input" id="" placeholder="Tìm kiếm người dùng"  required>
        </div>
        <div class="col-sm-1 " style="line-height: 30px; padding-left: 5px;" ><i class="fa fa-search" style="font-size:24px;color: #8877ea; "></i></div>
      </div>
      <div class="row no-margin admin-box-title">
        <div class="col-sm-2 "><span>UserName</span></div>
        <div class="col-sm-3"><span>Emmail</span></div>
        <div class="col-sm-2"><span>Điện thoại</span></div>
        <div class="col-sm-2"><span>Ngày tạo</span></div>
      </div>
      <div class="row no-margin  admin-box-detail">
        <div class="col-sm-12 no-padding">

          <div class="row no-margin admin-row-detail">
            <div class="col-sm-2 admin-row-text "><a href="/post/profile/12">thiencafe2018  fias nhvdasv d dub dán jydhasd asxyhsad d đáivsa xjsavdsaivd sa asdijbas dsausadhsa  jdiadjh asbasjdsavd jas xjasdysavd á vadkjaid san adkjsadn asjh sacd sadbaudjbas d</a></div>
            <div class="col-sm-3 admin-row-text"><span>thiencafe2018@gmail.com</span></div>
            <div class="col-sm-2 no-padding admin-row-text-center"><span>0978973382</span></div>
            <div class="col-sm-2 no-padding admin-row-day"><span>10/11/2021</span></div>
            <div class="col-sm-2"><button type="button" class="btn  btn-warning">Đặt làm QTV</button></div>
            <div class="col-sm-1">
              <button type="button" class="btn  btn-danger">Xóa</button>
            </div>
          </div>



        </div>
      </div>
    
      <div class="row no-margin admin-btn">
        <div class="col-sm-2" style="float: right;">
          <button
            type="button"
            class="btn btn-custom btn-success"
            >Xem thêm >></button>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>

  </div>
</div>


